.container {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin: 10px 0;
    text-align: left;
  }
  
  .input-text,
  .input-number,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
  }
  
  textarea {
    min-height: 100px;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }
  
  .button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Estilos para los campos de entrada de número sin flechas */
  .input-number::-webkit-inner-spin-button,
  .input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input-number[type="number"] {
    -moz-appearance: textfield;
  }