.category-list-container {
    margin: 20px;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .category-item {
    width: calc(20% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .category-item img {
    max-width: 100%;
  }
  

  @media screen and (max-width: 768px) {
    .category-item {
      width: calc(33.33% - 20px);
    }
  }
  
  @media screen and (max-width: 576px) {
    .category-item {
      width: calc(50% - 20px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .category-item {
      width: 100%;
    }
  }
  
  