.form-container {

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding:20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-content {
    text-align: left;
  }
  
  .label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .input-text,
  .input-number,
  .textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none; 
  }
  
  .button {
    background-color: #302253;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin:0 auto;
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #5e2b96;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }