.containerProducts{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 3fr);
    grid-gap: 40px; /* Espacio entre las imágenes */
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-top:20px;
    list-style-type: none;
}

.product{
    border: 1px solid black;
}

.imgProduct{
    width: 40vw;
    height: auto;
}